table {
  width: 100vmin;
  border-collapse: collapse;
  height: 100vmin;
}
#table2{
  border-collapse: inherit;
  height:auto;
  width: auto;
}
img {
  width: 100%;
}

td {
  padding-bottom: 0px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
}

button {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  border-bottom-width: 0px !important;
border-left-width: 0px !important;
border-top-width: 0px !important;
border-right-width: 0px !important;
}

body, html, center {
  margin: 0px;
  padding: 0px;
  overflow-y: hidden;
}
