table {
  width: 100vmin;
  border-collapse: collapse;
  height: 100vmin;
}

img {
  width: 100%;
}

button {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body, html, center {
  margin: 0px;
  padding: 0px;
  overflow-y: hidden;
}
